* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color:  #F5F7FA;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
}

body {
    background-color:  #A0D468;
}

table {
    text-align: left;
    width: 640px;
    margin: 30px auto;
    border-radius: 3px;
    border-collapse: collapse;
}

th {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #F5F7FA;
} 

td {
    padding: 10px 15px;
    color: #434A54;
    background-color: #F5F7FA;
}

#submit {
    position: relative;
    top: 0;
    color: #F5F7FA;
    padding: 20px;
    text-align: center;
    line-height: 24px;width: 130px;
    background-color: #4FC1E9;
    border-radius: 11px;
    cursor: pointer;
    margin: auto;
    box-shadow: 0 3px #4A89DC;
    transition: 0.1s ease;
}

#submit:active {
    position: relative;
    box-shadow: 0 0px #4A89DC;
    top: 3px;
    box-shadow: 0 0;
}

form {
    color: #fff;
    margin: auto;
}

input {
    margin-bottom: 25px;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    border: 0;
}

input:active {
    border: 1px solid #4FC1E9;
    transition: 0.2s ease;
}

div {
    display: inline-block;
    margin-right: 10px;
}